body{background-color: #064E5C;}

h1{color: white;
	font-size: 40px;
	font-family: Verdana;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	text-align: center;}

ul{color: white;
	font-family: Verdana}

p{color:#FFFFFF;
	font-family: Verdana;
	text-align: center;
	border-style: double;
	border-color: black;}

img{border-style: dotted;
	border-width: 10px;
	border-color: white;
	display: block;
	margin: auto;}

